/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;

}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

/* Table Styles */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #555;
}

td {
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Pagination Styles */
.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:hover:not(.active) {
  background-color: #0056b3;
}

/* Search Box Styles */
.search {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.search-select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.search input {
  padding: 10px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.search button:hover {
  background-color: #0056b3;
}

/* Like Button Styles */
button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
}