.footer {
    height: 150px;
    color: black;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px;
    border-top: 2px solid rgb(146, 180, 131);
    box-shadow: 0px 5px 98px rgb(146, 180, 131);
   
}