.detail-td > a {
  /* text-decoration: none !important; */
  color: #333 !important;
}

/* General Styles */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
} */

.h1-list {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

/* Table Styles */
.table-list {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  /* background-color: #f4f4f4; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border: none;
}
.thead-list > tr{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-list th, td {
  padding: 10px;
  text-align: center;
}

.thead-list th {
  border-bottom: 1.5px solid ;
  /* background-color: #f4f4f4; */
  color: #555;
}

/* td {
  color: #333;
} */

.thead-list tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Pagination Styles */
.pagination {
  /* position: relative;
  left:500px; */
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  /* padding: 8px 16px; */
  /* background-color: #007bff; */
  /* background-color: #28a745; */
  background-color: #ffffff00;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination button.active {
  /* background-color: #0056b3; */
  background-color: #28a745;
  color: #fff;
}

.pagination button:hover:not(.active) {
  background-color: #b4b4b4b2;
  color: #000000;
}

/* Search Box Styles */
.search {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.search-select {
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.search input {
  padding: 10px;
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.search button {
  padding: 10px 20px;
  /* background-color: #007bff; */
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.search button:hover {
  background-color: #1f8036;
}

/* Like Button Styles */
/* button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
} */

#postsPerPageSelect {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.posts-per-page {
  text-align: right;
  margin-right: 15%;
}

.likeBtn {
  padding: 5px 10px;
  /* background-color: #007bff; */
  /* background-color: #28a745; */
  background-color: #e0f0e0;
  color: #333;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}