.loadingDiv {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.loadingImg {
    width: 300px;
    margin: 0 auto;
}

.weatherBody {
    z-index: 1;
}

.areaSelectorDiv {
    font-family: 'SDGothic';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather {
    text-align: center;
    display: grid;
    place-items: center;
}

.scroll-container {
    display: flex;
    width: 70%;
    overflow-x: scroll;
    white-space: nowrap;
    align-items: center;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    display: inline-block;
}

.itemDetail {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 220px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-family: 'SDGothic';
}

.item {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 220px;
    height: 220px;
    margin-right: 15px;
    border-radius: 8px;
}

.weatherImg {
    padding-left: 0px;
    padding-top: 5px;
    width: 100%;
}

.imgDiv {
    width: 100px;
}

.time {
    margin-top: -20px;
    font-size: 1.2rem;
    font-weight: 500;

}

.date {
    padding-top: 10px;
    font-weight: 700;
    margin-top: -9px;
}

.tmpPop {
    font-weight: 600;
    margin-top: -15px;
}

.tmpPop>span {
    font-weight: 400;
    margin-top: -15px;
}


.mid {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 1000px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mid-block {
    width: 50%;
}

.mid-items {
    border: 1px solid black;
    width: 50%;
    height: 65px;
}

.mid-table-head {
    margin: 20px;
    font-family: 'SDGothic';
    font-size: 0.8rem;
    border: 1px solid rgba(128, 128, 128, 0.575);
    border-radius: 12px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.mid-item {
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    line-height: 70px;
    font-family: 'SDGothic';
    font-weight: 600;
}

.midImg {
    padding-top: 5px;
    height: 90%;
}

#min {
    color: cornflowerblue;
}

#max {
    color: rgb(235, 75, 75);
}

.line {
    border-right: 2px solid rgba(160, 160, 160, 0.76);
    height: 385px;
    border-radius: 50px;
    margin-top: 13px;
    /* line-height: -10px; */
}

.outLine {
    /* border: 1px solid blue; */
    height: 100px;
}














@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoT.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoUL.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoL.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoR.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoSB.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoB.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoEB.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'SDGothic';
    src: url('./font/AppleSDGothicNeoH.ttf') format('truetype');
    font-weight: 900;
}